
# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:RapePe
ErrorDocument 400 /400.php
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE RapePe:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:zuVuna
ErrorDocument 403 /403.php
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE zuVuna:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:DeGaBu
ErrorDocument 401 /401.php
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE DeGaBu:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:TyNere
ErrorDocument 500 /500.php
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE TyNere:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:seZahe
ErrorDocument 404 /404.php
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE seZahe:ERRORPAGEID

<Files "*.tpl"> 
    Order Deny,Allow 
    Deny from all 
</Files>  